header {
  min-height: 23vh;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid red;
}

.header-title {
  color: red;
  font-family: 'Limelight', cursive;
  font-size: clamp(2rem, 1rem + 10vw, 7rem);
  margin-right: 150px;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.home-button {
  position: absolute;
  right: 0;
  align-self: center;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: red;
  background-color: rgb(10, 10, 10);
  border-radius: 30px;
  transition: transform 0.3s;
  text-decoration: none;
}

.home-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px orange;
}

@media screen and (max-width: 530px) {
  header{
    flex-direction: column;
  }
  .home-button {
    flex-direction: column;
  }
}