header {
  height: 175px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid red;
  padding: 10px;
}

.header-title {
  color: red;
  font-family: 'Limelight', cursive;
  font-size: 78px;
  margin: 0;
}

.home-button {
  position:absolute;
  right: 0;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: red;
  background-color: rgb(10, 10, 10);
  border-radius: 30px;
  transition: transform 0.3s;
  text-decoration: none;
}

.home-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px orange;
}