header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid red;
  align-items: center;
  padding: 10px;
}

.header-title {
  color: red;
  font-size: 64px;
  text-align: center;
  margin: 0;
  flex-grow: 1;
  padding-left: 88px;
}

.home-button {
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  border-radius: 30px;
}

.home-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px orange;
}