.movie-card {
  box-sizing: border-box;
}

.movie-img {
  border: 1.5px solid red;
  height: 100%;
  width: 100%;
  transition: transform 0.3s;
}

.movie-img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  box-shadow: 0 0 20px 5px orange;
}